*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-image: url('./Asset/img2.jpg');
  background-size: 50% auto;
  background-repeat: no-repeat auto;
  word-wrap: break-word;
}
a{
  color:rgb(3, 26, 155);
  text-decoration: none;
  cursor: pointer;
}

